*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #333;
  
}
.container{
  position: relative;
  top: 2rem;
  background-color: #f4f4f4;
  width: 80%;
  margin: auto;
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
}
.fields{
  display: flex;
  padding: 0.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.head{
  padding-top: 2rem;
  color: #333;
  font-family: 'Cormorant Garamond', serif;
  /* letter-spacing: 0.1rem; */
   text-align: center;
   margin-bottom: 1.2rem;
}
.input-group{
  width: 80%;
  padding: 0.6rem;
  margin-top: 0.4rem;
  border: none;
  outline-color: #333;
  border-radius:0.4rem;
}
.btn{
  width: 80%;
  margin: auto;
  margin: 1rem;
  padding: 0.6rem;
  background-color: #333;
  color: #f4f4f4;
  border: none;
  border-radius: 0.7rem;
  outline: none;
}
.btn:hover{
  cursor: pointer;
  opacity: 0.8;
}
.course-card{
  width: 80%;
  margin: auto;
}
.course-card ul{
  list-style: none;
  padding-bottom: 1rem;
}
.course-card ul li{
  background-color: #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table,th, td {
  border: 1px solid black;
  padding: 0.4rem;

}
.input-table{
  width: 100%;
  height: 100%;
  outline: none;
  border:none;
  background-color: #ccc;
  padding: 0.2rem;
  color: #333;
  line-height: 0.2rem;
  font-weight: bold;
  font-size: 1rem;
}
.label{
  padding-left: 1.3rem;
  text-align: left;
}
.error, .success{
  width: 100%;
  padding: 0.6rem;
}
.error{
  color:#333;
  background-color: red;
}
.success{
  color: #333;
  background-color:green;
}
.grade{
  text-transform: uppercase;
}
.userInput{
  width: 50%;
  margin: auto;
  text-align: center;
  border: none;
  color: #333;
}
.gpaBox{
  width: 80%;
  margin: auto;
  background-color: #ccc;
  border-radius: 20%;
  display: none;
}
.gpa{
  display: flex;
  padding: 0.7rem 1rem;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
h3{
  font-family: 'Cormorant Garamond', serif;
}
/* #gpa{
  margin-right: 2rem;
} */
.clearTable{
  display: none;
}
.loading{
  margin-top: 1rem;
  display: none;
}
.inner{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0.3rem;
  font-weight: bold;
}
.foot{
  width: 80%;
  margin: auto;
  padding: 0.6rem;
  background-color: #ccc;
  color: #304050;
  border: none;
  border-radius: 0.7rem;
  outline: none;
}
.social_media{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;

}
.footText{
  background-color: #333;
  width: 100%;
  color: #f4f4f4;
  padding: 0.6rem;
  margin-bottom: 0;
}
.social_media a{
  color: #532b23;
  margin-bottom: 2rem;
}
.social_media a:hover{
  opacity: 0.7;
}
.Smedia{
  margin-top: 1rem;
}
@media(max-width:768px){
  .social_media{
    flex-direction: column;
  }
  .Smedia{
    margin-bottom:0.4rem;
  }
}